@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  padding: 10px;
  text-rendering: optimize-speed;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.card-component {
  height: 215px;
  min-height: 215px;
  /* width: 200px;
  min-width: 200px; */
  border-radius: 10px;
}

.new-card-component {
  background-color: #88f2fc;
  background-image: linear-gradient(to bottom, #52e1ef, #d0edb9d4 60%);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1) !important;

  transform: translateY(1.5rem);
  margin-right: 10px;
}

.tile-card-component {
  position: relative;
  box-shadow: 3px 3px 12px 2px #00000036;
  transition: 0.4s;
  padding: 20px;
  background-color: white;
  margin-bottom: 7%;
  z-index: 0;
  cursor: pointer;
  transform: translateY(1.5rem);
}

.tile-card-component:not(:nth-child(1)) {
  margin-left: -3rem;
}

/*.tile-card-component:first-child {
    margin-left: -3rem;
}*/

.tile-card-component:not(:last-child):hover,
.tile-card-component:not(:last-child):focus-within {
  transform: translateY(-3.5rem);
}

/* search-layout */

.user-avatar {
  position: relative;
}
.user-avatar .ant-avatar {
  display: block;
  width: 100%;
  min-height: 200px;
}
.menu {
  font-size: 45px;
  color: #fff;
  position: absolute;
  right: 10px;
  bottom: 0;
  cursor: pointer;
  line-height: 1;
}

.search-layout .tile-card-grid-icon,
.search-layout .tile-card-row-icon,
.search-layout .tile-card-stack-icon {
  display: block;
  min-height: 200px;
  width: 100%;
  border: 0;
  text-align: center;
  border-radius: 0;
  box-shadow: 0 2px 12px 5px #eee;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  position: relative;
}
.tile-card-grid-icon {
  border-bottom-left-radius: 12px;
  background-image: url("./assets/grid.png");
}
.tile-card-row-icon {
  border-bottom-right-radius: 12px;
  position: relative;
  background-image: url("./assets//bars.png");
}
.tile-card-row-icon:after,
.tile-card-row-icon:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  width: 2px;
  background-color: #666;
}
.tile-card-row-icon:after {
  right: 0;
}
.tile-card-row-icon:before {
  left: 0;
}
.tile-card-stack-icon:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(90deg);
  background-image: url("./assets/bars.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

/* header */
.header {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/* search-bar */

.search-bar {
  margin: 10px 0;
}
.search-bar .ant-input {
  padding-right: 15px;
  padding-left: 30px;
  box-shadow: 1px 7px 5px 7px #f3f3f3;
  border-radius: 10px;
}
.search-bar .ant-input-suffix {
  right: auto;
  left: 10px;
}

/* search-dropdown */

.search-dropdown {
  margin-bottom: 10px;
}
.search-dropdown i {
  float: right;
  padding-top: 5px;
}

.search-dropdown .ant-btn {
  display: block;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 7px 7px 4px #f3f3f3;
}

.bucket-tab {
  text-align: center;
}
.bucket-tab .ant-tabs-nav,
.bucket-tab .ant-tabs-nav .ant-tabs-tab-active {
  color: #88f2fc !important;
}
.folder-tab {
  text-align: center;
}
.folder-tab .ant-tabs-nav,
.folder-tab .ant-tabs-nav .ant-tabs-tab-active {
  font-weight: bold;
  color: black !important;
}

/* search-tree */
.search-tree-collapse {
  background: none !important;
  border-radius: 10px;
  box-shadow: 0 7px 6px 3px #f3f3f3;
}
/* .search-tree-collapse .ant-collapse-item {
  border
} */
.search-tree-collapse .ant-collapse-content {
  border-top: none;
}
.search-tree-header {
  text-align: center;
  border-radius: 20px !important;
  background-image: url("./assets/bars.png");
  background-repeat: no-repeat;
  background-position: 46% 15px;
  background-size: 2%;
}
.search-tree {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.search-tree .list-component {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 10px 25px;
  text-align: left;
}
.search-tree .list-component .list-component-heading {
  border-bottom: 1px solid black;
}

.search-tree .list-component .list-item-icon {
  float: right;
  padding-right: 10px;
}

/* TileCard */
.card-section1 {
  box-shadow: 0 7px 6px 3px #f3f3f3;
}

.TileCardStackSection1 {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.TileCardStackSection1::-webkit-scrollbar {
  height: 5px;
}
.TileCardStackSection1::-webkit-scrollbar-thumb {
  background: #cbc7c7;
}

.TileCardStackSection1 .ant-col .tile-card-component {
  transform: translateY(1.5rem) !important;
}

.TileCardStackSection2 {
  display: flex;
  flex-wrap: wrap;
}
/* .stack-list .TileCardStackSection2 {
  display: flex;
} */

.TileCardStackSection2 .card {
  /* margin: 10px; */
  margin-bottom: 15px;
  min-width: initial;
  width: initial;
}

.TileCardStackSection2 .tile-card-component:not(:nth-child(1)) {
  margin-left: initial;
}
.card {
  z-index: 1;
  /*		height: 250px !important; min-width: 175px !important; */
  border-radius: 5px;
  justify-self: end;
  align-self: center;
  height: 215px;
  width: 150px;
  min-height: 215px;
  min-width: 150px;
  padding: 0.5rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);

  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  padding: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /*.TileCard Inner Grid {*/
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-gap: 1px;
  background-color: grey;
  background-blend-mode: multiply;
  position: relative;
  color: white;
}

/* @media only screen and (min-width: 768px) {
  .TileCardStackSection2 .card-component {
    height: 215px !important;
    min-height: 215px !important;
    width: 100%;
  }
} */

@media only screen and (max-width: 991px) {
  /* .user-avatar .ant-avatar {
    min-height: 200px !important;
  }
  .search-layout .tile-card-grid-icon,
  .search-layout .tile-card-row-icon,
  .search-layout .tile-card-stack-icon {
    min-height: 200px !important;
    font-size: 130px !important;
    /* box-shadow: 0 7px 6px 3px #f3f3f3; */
  /* } */
  */ .TileCardStackSection2 .card-component {
    height: 40px !important;
    min-height: 40px !important;
    width: 100%;
  }
}

@media only screen and (max-device-width: 575px) {
  .user-avatar .ant-avatar {
    min-height: 300px !important;
  }
  .search-layout .tile-card-grid-icon,
  .search-layout .tile-card-row-icon,
  .search-layout .tile-card-stack-icon {
    min-height: 70px !important;
    font-size: 35px !important;
    box-shadow: 0 7px 6px 3px #f3f3f3;
  }
  .search-bar .ant-input {
    height: 50px !important;
    border-radius: 5px !important;
  }
  .search-bar .ant-input::placeholder {
    text-align: center;
    font-size: 25px;
  }
  .search-bar .ant-input-suffix {
    font-size: 25px;
  }
  .search-dropdown {
    display: flex;
    flex-direction: column;
  }
  .search-dropdown .ant-btn {
    box-shadow: 0 2px 0px 4px #f3f3f3;
    border-radius: 5px !important;
  }

  .search-dropdown i {
    float: right;
    padding-top: 5px;
  }
  .search-dropdown div {
    width: 100%;
  }

  .new-margin-container {
    margin-bottom: initial;
    margin-left: 0;
  }
  .search-tree-collapse {
    margin-top: -15px !important;
    border-radius: 5px !important;
  }
  .search-tree {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    flex-wrap: wrap;
  }
  .search-tree .list-component {
    width: initial;
    max-width: initial;
    padding-bottom: 10px;
  }
  .search-tree .list-component ul li {
    padding: 5px 0;
  }
  .search-tree .list-component .list-item-icon {
    float: right;
    padding-right: 10px;
  }

  /* .card-section1 .TileCardStackSection1 .card-component {
    height: 40px !important;
    min-height: 40px !important;
    width: 100% !important;
    min-width: 100%;
    border-radius: 35px;
  } */
  .card-section2 .TileCardStackSection2 .card-component {
    height: 40px !important;
    min-height: 40px !important;
    width: 100% !important;
    min-width: 100%;
    border-radius: 35px;
  }
  /* .TileCardStackSection2 .card {
    width: 163px !important;
    min-width: 163px !important;
  } */
}
